<div class="container-fluid" style="margin-top: 5px;">
     <div class="animated fadeIn">
         <div class="row">
             <div class="col-lg-12">
                 <select class="form-control form-control-sm" name="province" [(ngModel)]="selectedProvinceId">
                     <option value="national">NASIONAL</option>
                     <option *ngFor="let province of provinces" value="{{province.id}}">
                         {{province.name}}
                     </option>
                 </select>
             </div>
             <div class="col-lg-12" style="margin-top: 5px;">
                 <select class="form-control form-control-sm" name="month" [(ngModel)]="selectedMonth">
						<option value="tahun">TAHUN</option>
                        <option value="1">JANUARI</option>
                        <option value="2">FEBRUARI</option>
                        <option value="3">MARET</option>
                        <option value="4">APRIL</option>
                        <option value="5">MEI</option>
                        <option value="6">JUNI</option>
                        <option value="7">JULI</option>
                        <option value="8">AGUSTUS</option>
                        <option value="9">SEPTEMBER</option>
                        <option value="10">OKTOBER</option>
                        <option value="11">NOPEMBER</option>
                        <option value="12">DESEMBER</option>
                 </select>
             </div>
             <div class="col-lg-12" style="margin-top: 5px;">
                <input type="number" class="form-control" name="year" [(ngModel)]="selectedYear">
            </div>
            <div class="col-lg-12" style="margin-top: 10px;margin-bottom: 15px">
                <button class="btn btn-sm btn-primary" (click)="fetchDataByProvince()">
                    <i class="fa fa-search"></i> Cari
                </button>
            </div>
         </div>
         <div class="row" >
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let supplyDemand of supplyDemands">
                <div class="w3-card w3-hover-shadow" style="margin-bottom: 15px">
				  <img src="{{supplyDemand.image_path}}" alt="Avatar" style="width:100%">
				  <div [ngClass]="(supplyDemand.total_supply-supplyDemand.total_demand) >= 0 ? 'w3-container w3-sand w3-text-dark-grey' : 'w3-container w3-deep-orange w3-text-light-grey'">
					<h4><font face="arial">{{supplyDemand.name}}</font></h4> 
					<p>Supply {{supplyDemand.total_supply}} ton<br>
					   Demand {{supplyDemand.total_demand}} ton</p><hr>
					   <p class="w3-large">{{(supplyDemand.total_supply - supplyDemand.total_demand) == 0 ? 'Normal' : ((supplyDemand.total_supply - supplyDemand.total_demand) < 0 ? 'Defisit' : 'Surplus')}} {{supplyDemand.total_supply - supplyDemand.total_demand}} Ton</p>
				  </div>
				</div>
            </div>
         </div>
     </div>
</div>