<div class="container-fluid" style="margin-top: 5px;">
     <div class="animated fadeIn">
         <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="card card-inverse card-primary">
                    <div class="card-block pb-0">
                        <h4 class="mb-0">Total Provinsi</h4>
                        <p>{{totalProvince | number:'1.0-0'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card card-inverse card-primary">
                    <div class="card-block pb-0">
                        <h4 class="mb-0">Total Kabupaten</h4>
                        <p>{{totalKabupaten | number:'1.0-0'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card card-inverse card-primary">
                    <div class="card-block pb-0">
                        <h4 class="mb-0">Total Komoditas</h4>
                        <p>{{totalComodity | number:'1.0-0'}}</p>
                    </div>
                </div>
            </div>
         </div>
       
     </div>
</div>