<div class="container-fluid" style="margin-top: 5px;">
     <div class="animated fadeIn">
         <div class="row">
             <div class="col-lg-12">
                 <select class="form-control form-control-sm" name="province" [(ngModel)]="selectedProvinceId">
                     <option value="national">NASIONAL</option>
                     <option *ngFor="let province of provinces" value="{{province.id}}">
                         {{province.name}}
                     </option>
                 </select>
             </div>
             <div class="col-lg-12" style="margin-top: 5px;">
                 <select class="form-control form-control-sm" name="month" [(ngModel)]="selectedMonth">
                        <option value="1">JANUARI</option>
                        <option value="2">FEBRUARI</option>
                        <option value="3">MARET</option>
                        <option value="4">APRIL</option>
                        <option value="5">MEI</option>
                        <option value="6">JUNI</option>
                        <option value="7">JULI</option>
                        <option value="8">AGUSTUS</option>
                        <option value="9">SEPTEMBER</option>
                        <option value="10">OKTOBER</option>
                        <option value="11">NOPEMBER</option>
                        <option value="12">DESEMBER</option>
                 </select>
             </div>
             <div class="col-lg-12" style="margin-top: 5px;">
                <input type="number" class="form-control" name="year" [(ngModel)]="selectedYear">
            </div>
            <div class="col-lg-12" style="margin-top: 5px;">
                <button class="btn btn-sm btn-primary" (click)="fetchDataByProvince()">
                    <i class="fa fa-search"></i> Cari
                </button>
            </div>
         </div>
         <div class="row" style="margin-top: 25px;">
            <div class="col-sm-6 col-lg-3" *ngFor="let supplyDemand of supplyDemands">
                <div class="card card-inverse card-primary">
                    <div class="card-block pb-0">
                        <h4 class="mb-0">{{supplyDemand.name}}</h4>
                        <hr>
                        <p>
                            Supply {{supplyDemand.total_supply}} ton <br>
                            Demand {{supplyDemand.total_demand}} ton <br>
                            {{supplyDemand.total_supply < supplyDemand.total_demand ? 'Defisit' : 'Surplus'}} {{supplyDemand.total_supply - supplyDemand.total_demand}} Ton
                        </p>
                    </div>
                </div>
            </div>
         </div>
     </div>
</div>