<div class="container-fluid" style="margin-top: 5px;">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12" *ngIf="viewType === 'list'">
                    <div class="card">
                        <div class="card-header bg-secondary">
                            <i class="icon-people"></i> <span>Daftar Pengguna</span>
                        </div>
                        <div class="card-block">
                            <form>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Nama" name="name" [(ngModel)]="query.criteria.name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Username" name="userName" [(ngModel)]="query.criteria.userName" />
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-sm btn-secondary" style="cursor: pointer;" (click)="add()"><i class="fa fa-plus"></i> Tambah</button>
                                <button type="button" class="btn btn-sm btn-secondary" style="cursor: pointer;" (click)="filter()"><i class="fa fa-search"></i> Cari</button>
                            </form>
                        </div>
                        <div class="card-block">
                            <h5 style="text-align: center;" *ngIf="entities && entities.length === 0">Belum Ada Data</h5>
                            <div class="table-responsive" *ngIf="entities && entities.length > 0">
                                <table class="table table-bordered table-condensed table-striped table-condensed table-sm">
                                    <thead class="thead">
                                        <tr>
                                            <th style="text-align: center;">Nama</th>
                                            <th style="text-align: center;">Username</th>
                                            <th style="text-align: center; width: 20%">Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let entity of entities | paginate: {itemsPerPage: paging.max, currentPage: paging.page, totalItems: paging.total }" [hidden]="progress?.percentage < 100">
                                            <td>{{entity.name}}</td>
                                            <td>{{entity.userName}}</td>
                                            <td style="text-align: center;">
                                                <button class="btn btn-sm btn-primary" style="cursor: pointer;" (click)="edit(entity)">
                                                    <i class="fa fa-edit"></i> Edit
                                                </button>
                                                <button  class="btn btn-sm btn-danger" style="cursor: pointer;" (click)="delete(entity.id)">
                                                    <i class="fa fa-trash"></i> Hapus
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination-controls style="float: right;" (pageChange)="page($event)"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" *ngIf="viewType === 'form'">
                    <div class="card">
                        <div class="card-block">
                            <form>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="name">Nama*</label>
                                            <input type="text" class="form-control" name="name" [(ngModel)]="entity.name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="name">Username*</label>
                                            <input type="text" class="form-control" name="userName" [(ngModel)]="entity.userName" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="name">Password</label>
                                            <input type="password" class="form-control" name="password" [(ngModel)]="entity.password" />
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-sm btn-primary" style="cursor: pointer;" (click)="backToList()"><i class="fa fa-arrow-left"></i> Kembali</button>
                                <button type="button" class="btn btn-sm btn-success" style="cursor: pointer;" (click)="save()"><i class="fa fa-save"></i> Simpan</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>